/* Background behind everything */
.wrapper {
  background: url("https://picsum.photos/1200/800") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Black panel */
.panel {
  width: 80%;
  height: 60%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Use the text as a mask */
  -webkit-mask-image: none; /* will be set by child */
  mask-image: none;
  position: relative;
}

/* The cutout text */
.cutout {
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 100px;
  top: 80px;
  cursor: pointer;

  /* THIS makes it a hole */
  color: transparent;
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: transparent;
  background: white;
  -webkit-background-clip: text;
  -webkit-mask-image: none;
  -webkit-mask-composite: destination-out;
  mix-blend-mode: destination-out;
  transition: all 0.5s ease;
}

/* Move when hovered */
.cutout:hover {
  left: 250px;
  top: 150px;
}